<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>391604143378-2e80ra2t8bjt5l49lqbpolmtmj19558a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391604143378-2e80ra2t8bjt5l49lqbpolmtmj19558a</string>
	<key>API_KEY</key>
	<string>AIzaSyAUP0lBAfaKf23_lkTqlHcFE19tF3CixTY</string>
	<key>GCM_SENDER_ID</key>
	<string>391604143378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.svg.NoFeed</string>
	<key>PROJECT_ID</key>
	<string>nofeed-228</string>
	<key>STORAGE_BUCKET</key>
	<string>nofeed-228.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:391604143378:ios:304e3117451a65fd</string>
	<key>DATABASE_URL</key>
	<string>https://nofeed-228.firebaseio.com</string>
</dict>
</plist>
